SwiftMXMessageGenerator/xsds/pain.998.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Jan 30 18:09:04, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:swift:xsd:pain.998.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:pain.998.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PmtInitnPrtryMsg" type="PaymentInitiationProprietaryMessageV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageReference2">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInitiationProprietaryMessageV03">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgHdr" type="MessageHeader1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="MessageReference2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvs" type="MessageReference2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="MessageReference2"/>
            <xs:element name="PrtryData" type="ProprietaryData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryData5">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Data" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
